@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

:root {
  font-family: 'Rubik', sans-serif;
}
/* UTILS */
.container {
  width: min(90ch, 100vw - 2rem);
  margin-inline: auto;
}
.semibold {
  font-weight: 600;
}

body {
  background-color: #ee3a3a;
}

h1 {
  color: white;
}

/* LOADER */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  border: 5px solid rgb(53, 9, 155);
  border-bottom: 5px solid transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader-frame {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.Dropdown-root {
  margin-bottom: 1rem;
}

/* CHARACTER GRID */
.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(18.625rem, 90vw));
  gap: 0.5rem;
  justify-content: center;
}
/* QUICK VIEW */
.quick-view {
  width: min(18.625rem, 90vw);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  border-radius: 1%;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
  transition: filter 100ms ease-in-out;
}
.quick-view:hover {
  filter: saturate(150%);
}

.avatar {
  border-radius: 50%;
}

.quick-info {
  margin-top: 1rem;
}

.quick-info h3 {
  font-weight: 700;
  font-size: 1.2rem;
}
.quick-info a,
.quick-info a:visited {
  color: inherit;
  transition: color 200ms ease-in-out;
}
.quick-info a:hover {
  color: blue;
}

.load-more {
  background-color: white;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.25rem;
  padding: 0.25em 0.5em;
  display: block;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-inline: auto;
  cursor: pointer;
}

/* CHARACTER VIEW */
.character-view {
  min-height: 100vh;
  padding-block: 1rem;
}
.character-view p:last-child {
  margin-top: 1rem;
}
.character-view > .container {
  display: flex;
  flex-direction: column;
}
.character-view a {
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
  border: 2px solid black;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  transition: background-color 2500ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.character-view a:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}
